.display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.input_line > input {
    border: 1px solid silver;
    border-radius: 20px;
    padding: 3px;
}

.login_form button:hover {
    color: darkolivegreen;
    transition: 0.5s;
}