.menu {
    padding: 0 20px;
    min-width: 220px;
}

.menu > li {
    margin-bottom: 4px;
    list-style-type: none;
}

.menu > li > a {
    color: cornflowerblue;
    font-size: 20px;
    text-decoration: none;
}