.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 10px 5px;
    border-bottom: 1px solid silver;
}

.logo {
    text-decoration: none;
    color: cornflowerblue;
}

.right_part {
    display: flex;
}

.shop_cart_button {
    cursor: pointer;
    position: relative;
    margin-right: 70px;
}

.shop_cart_button:hover {
    color: cornflowerblue;
}

.shop_cart {
    position: absolute;
    top: 35px;
    right: 179px;
    width: 250px;
    background: snow;
    z-index: 2;
    border: 1px solid silver;
    border-radius: 5px;
}