.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 10px 5px;
    border-bottom: 1px solid silver;
    position: relative;
}

.logo {
    text-decoration: none;
    color: cornflowerblue;
}

.shop_cart_button {
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.shop_cart_button:hover,
.active {
    color: darkolivegreen;
    transform: scale(1.5);
}

.shop_cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: snow;
    z-index: 3;
}