.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 10px;
    border-bottom: 1px solid black;
}

.logo {
    text-decoration: none;
    color: cornflowerblue;
}

.auth > div > a {
    text-decoration: none;
    color: #93c54b;
}